* {
  font-size: 3vw;
  font-family: Times New Roman;
}

body {
  background-color: azure;
}

.nav {
  background-color: black;
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 4vw;
}

h1 {
  background-color: black;
  color: white;
  width: 70%;
  border-radius: 3v;
}

h2 {
  border: solid;
  width: 70%;
  border-radius: 3vw;
}

h3 {
  border: solid;
  width: 70%;
  border-radius: 3vw;
}